<!DOCTYPE html>
<html lang="nl">
    <head>

        <title>Oeps... | GrasPlan</title>
        <meta name="description" content="">
    
        <%- include("../partials/meta") %>  
    
    </head>

  

  <body>

    <header>
        <!-- <div class="navbar-fixed"> -->
            <nav class="top-nav">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" class="brand-logo">Grasplan</a>
                        
                    </div>
                </div>
            </nav>
        <!-- </div> -->

        <div class="container">
            <ul class="sidenav sidenav-fixed" id="slide-out">
                <li>
                    <div id="nav-head" class="user-view">
                        <div class="row">
                            <img id="logo_os_balans" src="img/gras.png" class="col s10 offset-s1 " alt="">
                            <br>
                          </div>
      
                    </div>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold">
                            <a class="collapsible-header waves-effect waves-cyan"> 
                                <i class="material-icons left">dns</i>
                                Opties
                                <i class="material-icons right">keyboard_arrow_right</i>
                            </a>
                            <div class="collapsible-body collapse" style="display: block;">
                                <ul>
                                    <li> <a href="overzicht"> <i class="material-icons left">account_circle</i> Bedrijfsoverzicht</a></li>
                                    <li> <a href="farm"> <i class="material-icons left">home_work</i> Percelen</a></li>
                                    <li> <a href="calendar"> <i class="material-icons left">event</i> Graslandkalender</a></li>
                                </ul>
                            </div>
                        </li>
                                            </ul>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <br>
                <li>
                    <div class ="row">
                        <img id="logo_nmi" src="img/logo_nmi.jpg" class="col s6" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </header>


    <!--Content voor de beginpagina -->
    <div id="container" class="container">
      <h1>Oeps...  </h1>
      <p class="flow-text">We zijn volgens mij de weg kwijtgeraakt.</p>
       <a href="index" class="waves-effect waves-brown btn">Help, haal me hier weg!</a>
    </div>

  </body>
</html>
