<!DOCTYPE html>
<html lang="nl">

<head>

    <title>Over GrasPlan | GrasPlan</title>
    <meta name="description" content="GrasPlan is applicatie voor uw graslandkalender. Lees hier meer over GrasPlan">

    <%- include("../partials/meta") %>

    <script src="js/index.js" defer></script>
</head>

<body>
    <%- include("../partials/menu") %>


    <!--Content voor de beginpagina -->
    <div id="container" class="container">

        <h2>Grasplan: een intro</h2>
        <p class="flow-text">
            Voor de registratie van bemesting, beweiding en graslandbeheer kunt u gebruikmaken van een
            graslandgebruikskalender.
            Bemesting en groeiomstandigheden zijn namelijk belangrijk voor de kwaliteit van het gras, of het nu gaat om
            beweiden of maaien.
            <br></br>
            GrasPlan is een simpele web-applicatie waarmee deze activiteiten bijgehouden kunnen worden.
            <br></br>
            GrasPlan maakt het ook mogelijk om natuurbeheersmaatregelen bij te houden die op het perceel worden
            genomen.

        </p>

        <h2>Contact en feedback</h2>
        <p class="flow-text">
            GrasPlan is een eerste prototype. Heeft u waardevolle feedback over de applicatie of wensen qua
            gebruikersvriendelijkheid en functionaliteit, laat het ons weten. Mail uw reactie naar info@grasplan.nl.
        </p>

        <h2>GLB-pilot</h2>
        <p class="flow-text">
            GrasPlan wordt in 2020 ook ingezet binnen de GLB-pilot in Noord-Holland.
            De ontwikkeling van deze applicatie vond plaats in het kader van de GLB-pilot “Vergroening van waterrijke
            veenweidegebieden” (2019-2021) en werd mede gefinancierd door de Europese Unie.
        </p>

        <div class="row">
            <img id="logo_eu" src="img/eu.jpg" class="col s8 offset-s2 " alt="Logo van EU Landbouwfonds" />
        </div>

        <h2>Privacy</h2>
        <p class="flow-text">
            GrasPlan neemt uw privacy serieus. Als gebruiker van de app kunt u zelf aangeven of een andere partij (zoals
            het agrarisch collectief) mee mag
            kijken met de door u ingevulde gegevens. Als ondernemer staat u daarmee zelf aan het stuur: niemand krijgt
            zomaar uw data te zien.
            U kun de privacyverklaring van GrasPlan en NMI lezen op de knop beneden.
        </p>
        <a href="privacy" class="btn" target="_blank">privacyverklaring</a>


        <h2>Cookies</h2>
        <p class="flow-text">
            De website monitort uw activiteiten om zo de gebruikersvriendelijkheid van de app te verbeteren. Mocht u dat
            niet willen, dan kunt u dat hieronder uitzetten.
        </p>

        <iframe style="border: 0; height: 200px; width: 600px;"
            src="https://matomo.nmi-agro.nl/index.php?module=CoreAdminHome&action=optOut&language=nl&backgroundColor=&fontColor=&fontSize=&fontFamily="></iframe>

    </div>
</body>

</html>