<!DOCTYPE html>
<html lang="nl">

<head>

    <title>Onderhoud | GrasPlan</title>
    <meta name="description" content="">

    <%- include("../partials/meta") %>

</head>



<body>

    <header>
        <!-- <div class="navbar-fixed"> -->
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="" class="brand-logo">Grasplan</a>

                </div>
            </div>
        </nav>
        <!-- </div> -->

        <div class="container">
            <ul class="sidenav sidenav-fixed" id="slide-out">
                <li>
                    <div id="nav-head" class="user-view">
                        <div class="row">
                            <img id="logo_os_balans" src="img/gras.png" class="col s10 offset-s1 " alt="">
                            <br>
                        </div>

                    </div>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold">
                            <div>
                                <ul>
                                    <li>
                                        <div class="divider"></div>
                                    </li>
                                    <li>
                                        <a href="login">
                                            <i class="material-icons left"></i>
                                            Inloggen</a>
                                    </li>
                                    <li>
                                        <a href="register">
                                            <i class="material-icons left"></i>
                                            Registreren</a>
                                    </li>
                                    <li>
                                        <div class="divider"></div>
                                    </li>
                                    <li>
                                        <a href="info">
                                            <i class="material-icons left">info</i>
                                            Over GrasPlan</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <br>
                <li>
                    <div class="row">
                        <img id="logo_nmi" src="img/logo_nmi.jpg" class="col s6" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </header>


    <!--Content voor de beginpagina -->
    <div id="container" class="container">
        <h1>We zijn even bezig... </h1>
        <p class="flow-text">Op dit moment zijn we GrasPlan aan het verbeteren. Haal voor nu een kopje koffie en geef
            een knuffel aan Berta 42. We proberen zo snel mogelijk terug te zijn!</p>
    </div>

</body>

</html>